
.indextitle {
    text-align: center;
}

.cardheader {
    text-align: center;
}

.containerparent {
}

.cardcontainer {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*margin: auto;*/
}

.card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    /*width: 300px;*/
    width: 95%;
    /*margin: 5px;*/
    margin-bottom: 15px;
    padding: 10px;
    transition: 0.25s;
    border-radius: 10px;
    break-inside: avoid;
}

.card:hover {
    transition: 0.25s;
    border-radius: 50px 0 50px 0;
    filter: brightness(110%);
}

.center {
    margin: auto;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0%;
    height: 30px;
    width: 100%;
    background: #d9d9d9;
    text-align: right;
}

h4 {
    padding-left: 10px;
}

/*.videocard {*/
/*    border: 1px #858585 solid;*/
/*    border-radius: 10px;*/
/*    padding: 5px;*/
/*    margin: 5px;*/
/*}*/

/*.videocard span {*/
/*    font-size: small;*/
/*}*/

.card h1 {
    font-style: italic;
    text-align: center;
}

.card h3 {
    font-style: italic;
    text-align: center;
}


/* columnn management*/
@media (min-width:350px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width:700px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width:1050px) {
    .card-columns {
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;
    }
}
@media (min-width:1400px) {
    .card-columns {
        -webkit-column-count:4;
        -moz-column-count:4;
        column-count:4;
    }
}
@media (min-width:1750px) {
    .card-columns {
        -webkit-column-count:5;
        -moz-column-count:5;
        column-count:5;
    }
}