.indextitle {
    text-align: center;
}

.cardheader {
    text-align: center;
}

.containerparent {
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 5px;
    padding: 10px;
    transition: 0.25s;
    border-radius: 10px;
}

.card:hover {
    transition: 0.25s;
    border-radius: 0px;
    margin: 10px;
}

.center {
    margin: auto;
}

#footer {
    position: fixed;
    left: 0px;
    bottom: 0%;
    height: 30px;
    width: 100%;
    background: #d9d9d9;
    text-align: right;
}

h4 {
    padding-left: 10px;
}

.videocard {
    border: 1px #858585 solid;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.videocard span {
    font-size: small;
}

.card h1 {
    font-style: italic;
    text-align: center;
}

.card h3 {
    font-style: italic;
    text-align: center;
}